<section class="mid-bracket" id="contact-bracket">
    <div id="particles-js"></div>
      <%= javascript_include_tag 'particles', 'app'%>
    <div class="container v-fill">
      <div class="row v-fill">
       <div class="col-md-12 v-align-contents">
        <p class="contact-text"><span>Let's get in touch!</span><br>Please contact me if you would like to work together</p>



        <form action="#" method="post">
          <div class="form-group">
            <input type="email" placeholder="Your email" class="form-control" id="contact-email"></input>
            <!--           <%= text_field :title, class: 'form-control', placeholder: 'From:' %> -->
          </div>
          <div class="form-group">
            <textarea placeholder="Message" rows="15" class="form-control" id="contact-body"></textarea>
            <!--           <%= text_area :title, class: 'form-control', placeholder: 'Message', rows: 30 %> -->
          </div>
          <div class="form-group contact-btn-wrapper">
            <button type="submit" class="btn btn-primary contact-btn">Send</button>
          </div>
        </div>
      </form>
    </div>
</section>