<section class="top-bracket" id="home-bracket">
    <div class="container v-fill">
      <div class="row v-fill v-align">
        <div class="title-wrapper-div">
          <h1>Hello, I'm <span></span><br>your next full-stack developer</h1>
          <a href="#about-bracket"><button class="cover-button">Let me introduce myself</button></a>
        </div>
      </div>
    </div>
</section>