<header class="masthead clearfix">
  <div class="inner">
    <div class="app-nav-shell">
      <div class="app-nav-item">
        <%= link_to 'Home', '#home-bracket' %>
      </div>
      <div class="app-nav-spacer"></div>
      <div class="app-nav-item">
        <%= link_to 'About-me', '#about-bracket' %>
      </div>
      <div class="app-nav-spacer"></div>
      <div class="app-nav-item">
        <%= link_to 'Portfolio', '#portfolio-bracket' %>
      </div>
      <div class="app-nav-spacer"></div>
      <div class="app-nav-item">
        <%= link_to 'Contact', '#contact-bracket' %>
      </div>
      <span class="app-nav-stretch"></span>
    </div>
  </div>
</header>