<header class="masthead clearfix">
  <div class="inner">
    <div class="app-nav-shell">
      <div class="app-nav-item">
        <%= link_to 'Home', root_path %>
      </div>
      <div class="app-nav-spacer"></div>
      <div class="app-nav-item">
        <%= link_to 'Portfolio', portfolios_path %>
      </div>
      <div class="app-nav-spacer"></div>
      <div class="app-nav-item">
        <%= link_to 'About-me', about_me_path %>
      </div>
      <div class="app-nav-spacer"></div>
      <div class="app-nav-item">
        <%= link_to 'Contact', contact_path %>
      </div>
      <span class="app-nav-stretch"></span>
    </div>
  </div>
</header>