<div class="col-md-4 no-padding">
  <div class="portfolio_item_card" data-id="<%= portfolio_item.id %>">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: '100%' %>
  </div>
</div>

