<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
<!--     <img src="https://pre00.deviantart.net/0e19/th/pre/f/2007/042/2/1/trogdor_wallpaper_wip_by_danielle.jpg" alt="Profile image"> -->
<%= image_tag "profile.jpg", width:300, alt:"profile image" %>
  </div>  

  <div class="col-md-8">
    <p>
      This is a bunch of stuff about me but I dont know what to say right now so I'm just sying things about saying things
    </p>

    <p>
      This is another paragraph about nothing again
    </p>

  </div>
</div>