<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "24654651684" %></p>

<p><%= number_to_percentage "20" %></p>

<p><%= number_with_delimiter "6546846" %></p>
