<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <p><a href="mailto:Bryan.helge@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
        <p>This is how you contact me</p>
      </div>
    
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.9244270547947!2d-111.97227788460877!3d40.631548579340766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528ea4a8062947%3A0x2942b07343b7af44!2s3313+Westbrook+Dr+S%2C+West+Jordan%2C+UT+84084!5e0!3m2!1sen!2sus!4v1513183510568" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- <p><%= number_to_phone "5555555555" %></p>
<p><%= number_to_currency "24654651684" %></p>
<p><%= number_to_percentage "20" %></p>
<p><%= number_with_delimiter "6546846" %></p> -->
