@import "bootstrap";
@import "gritter";
@import "font-awesome";

/*
 * Globals
 */
 h1,h2,
 h3,h4,
 h5,h6 {
  font-family: 'Amaranth', sans-serif;
 }

 :root {
/*  --color-darkest: black;
  --color-dark: darkgreen;
  --color-med: darkolivegreen;
  --color-light: darkseagreen;
  --color-lightest: whitesmoke;*/

  --color-darkest: #656565;
  --color-dark: #cc1519;
  --color-med: #788991;
  --color-light: #1bb186;
  --color-lightest: #aa9784;

  --color-background-dark: #656565;
  --color-background-light: #1bb186;

  // --color-washout: rgba(255,255,255,0.5);
  --color-washout: rgba(0,0,0,0.5);

  --font-family-heading: 'Amaranth', sans-serif;
  --font-family-body: 'Raleway', sans-serif;
 }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
  background-color: var(--color-darkest);
}

.masthead:hover:after {
  height: 15px;
  transform: translateY(5px);
}

.masthead:after {
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: white;
  transform: translateY(0px);
  transition: height 300ms, transform 300ms;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;
  }
}

/*
 * Custom Styles
 */

.card-body {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
/*  background: image-url('back.jpg') no-repeat;*/
  background-size: cover;
}

.app-footer {
  color: white;
}

.tech-news {
  color: black;
  margin: 20px;
}

.tech-news a {
  color: green;
}

.tech-news > .card {
  padding: 30px;
}

.app-card-container {
  color: black;
  text-align: left;
}

.app-card-container > .card {
  padding: 40px;
}

.app-card-container a {
  color: blue;
}

.card-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*======Boostrap add-ons======*/

.v-align-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fill {
  height: 100%;
  width: 100%;
}

.v-fill {
  height: 100%;
}

.h-fill {
  width: 100%;
}

.about-info-text {
  padding: 20px;
}

.about-info-text span,
.about-info-text a {
  color: var(--color-background-light);
}

.my-bar {
  background-color: var(--color-background-light);
}

.skill-icon-wrapper {
  margin-top: 150px;
  align-content: center;
}

.skill-icon-div {
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
}

.skill-icon {
  color: black;
}

.can-scroll {
  height: 600px;
  overflow: auto;
}

.no-padding {
  padding: 0px;
}

.bottom-pad {
  padding-bottom: 100px;
}

.contact-text {

}

.contact-text span {
  font-size: 2em;
  color: var(--color-background-light);
}

.contact-btn-wrapper {
  align-content: left;
  text-align: left;
}

.contact-btn {
  background-color: var(--color-background-light);
  border-color: var(--color-background-light);
}

.contact-btn:hover {
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
  border-color: var(--color-background-light);
}

// ========== Portfolio Cover Thumbs Start ========== //
// === Initial States === //

.portfolio_item_card {
  margin: 0px;
  position: relative;
  transition: z-index 1s step-end, transform 1s;
}

.portfolio_thumb_content {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: background 1s;
  & > .tech-used-div {
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 0px;
    align-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms;
    & > span {
      color: var(--color-background-light);
      font-family: var(--font-family-heading);
      display: inline-block;
    }
    & > li {
      color: white;
      display: inline-block;
    }
  }
}

.thumb-title-div {
  position: absolute;
  top: 59%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  transition: transform 1s, top 1s;
  color: var(--color-background-light);
  & > p {
    color: white;
    transform: translateY(-40%) scale(1.3);
    opacity: 0;
    transition: opacity 1s;
  }
}

// === Hover == //

.portfolio_item_card:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: z-index 1s step-start, transform 1s; //TODO: need to fix the z-index delay using animation
  & > .portfolio_thumb_content {
    background-color: var(--color-washout);
    & > .thumb-title-div{
      transform: translateY(0%) translateX(-50%) scale(0.7);
      top: 0px;
      & > p {
        opacity: 1;
      }
    }
    & > a .thumb-button {
      opacity: 1;
      transition: color 300ms, opacity 500ms 500ms;

    }
    & > .tech-used-div {
      opacity: 1;
      transition: opacity 500ms 1000ms;
    }
  }
}


.about-info-img {
  height: 300px;
  // animation: fade-slide-right 1s ease 2s normal;
}

/*======For testing====*/

.show-me1 {
  border: 1px dashed green;
  background-color: yellow;
}

.show-me2 {
  border: 1px dashed blue;
  background-color: red;
}

.show-me3 {
  border: 1px dashed purple;
  background-color: black;
}

/*======Brackets======*/

.top-bracket-spacer {
  height: 100vh;
  min-height: 100vh;
}

.top-bracket {
  height: 100vh;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
}

.fexible-bracket {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mid-bracket {
  height: 100vh;
  min-height: 900px;
  width: 100%;
  overflow: hidden;
}

#about-bracket {
/*  background-color: var(--color-background-dark);*/
}

#portfolio-bracket {
/*  background-color: var(--color-background-light);*/
}

#contact-bracket {

}

/*==================== My Animations Begin ====================*/

.Backgound-color-anim-1s {
  transition-property: background-color;
  transition-duration: 2s;
}

.Backgound-color-anim-2s {
  transition-property: background-color;
  transition-duration: 2s;
}

.Backgound-color-anim-3s {
  transition-property: background-color;
  transition-duration: 2s;
}

@keyframes fade-slide-right {
  0% {
    transform: translateX(600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*==================== My Animations End ====================*/

/*======Main Nav======*/

.app-nav-shell {
  display: flex;
  justify-content: space-around;
}

.app-nav-item {
  margin: 15px;
}

.app-nav-item a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--color-background-light);
  font-size: 1.5em;
}

.app-nav-spacer {
  width: 1px;
  height: 60px;
  background-color: var(--color-background-light);
/*  margin: auto;*/
  display: inline-block;
  vertical-align: middle;
}

.app-nav-stretch {
  width: 100%;
  height: 0px;
  margin: none;
  padding: none;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.app-nav-shell {
  text-align: justify;
  width: 100%;
}

.no-click {
  pointer-events: none;
}

.title-wrapper-div {
  display: block;
  width: fit-content;
  margin: auto;
}

.title-wrapper-div h1 span {
  color: var(--color-background-light);
}

.title-wrapper-div h1:hover span::before {
  color: var(--color-background-light);
  content: "Helge801          "
}

.title-wrapper-div h1 span::before {
  color: var(--color-background-light);
  content: "Bryan Lund"
}

//==========Cover Button Start==========

.cover-button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid var(--color-background-light);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  color: var(--color-background-light);
  background-color: transparent;
}

.cover-button:hover,
.thumb-button:hover {
  color: var(--color-background-dark);
}

.cover-button::after,
.thumb-button::after {
  position: absolute;
  transition: 300ms;
  content: '';
  width: 0px;
  left: -10%;
  bottom: 0px;
  height: 100%;
  background: var(--color-background-light);
  z-index: -1;
  transform: skewX(15deg);
}

.cover-button:hover::after,
.thumb-button:hover::after {
  width: 120%;
  left: -10px;
}

.cover-button:focus,
.thumb-button:focus {
  outline: none;
}

//==========Cover Button End==========//

//==========Portfolio Thumb Button Start==========//

.thumb-button {
  flex: 1 1 auto;
  padding: 8px;
  border: 2px solid var(--color-background-light);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
  transition: .3s;
  color: var(--color-background-light);
  background-color: transparent;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: color 300ms, opacity 500ms;
}

//==========Portfolio Thumb Button End==========//

/*==========Animation==========*/
canvas {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-dark);
  z-index: -1;
  font-size: 0.5em;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms 500ms linear;
  -webkit-transition: all 500ms 500ms linear;
  -o-transition: all 500ms 500ms linear;
  transition: all 500ms 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

