@import "bootstrap";
@import "gritter";
@import "font-awesome";

/*
 * Globals
 */
 h1,h2,
 h3,h4,
 h5,h6 {
  font-family: 'Amaranth', sans-serif;
 }

 :root {
/*  --color-darkest: black;
  --color-dark: darkgreen;
  --color-med: darkolivegreen;
  --color-light: darkseagreen;
  --color-lightest: whitesmoke;*/

  --color-darkest: #656565;
  --color-dark: #cc1519;
  --color-med: #788991;
  --color-light: #1bb186;
  --color-lightest: #aa9784;

  --color-background-dark: #656565;
  --color-background-light: #1bb186;
 }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;
  }
}

/*
 * Custom Styles
 */

.card-body {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
/*  background: image-url('back.jpg') no-repeat;*/
  background-size: cover;
}

.app-footer {
  color: white;
}

.tech-news {
  color: black;
  margin: 20px;
}

.tech-news a {
  color: green;
}

.tech-news > .card {
  padding: 30px;
}

.app-card-container {
  color: black;
  text-align: left;
}

.app-card-container > .card {
  padding: 40px;
}

.app-card-container a {
  color: blue;
}

.card-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*======Boostrap add-ons======*/

.v-align-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.v-fill {
  height: 100%;
}

.about-info-text {
  padding: 20px;
}

.about-info-text span,
.about-info-text a {
  color: var(--color-background-light);
}

.my-bar {
  background-color: var(--color-background-light);
}

.skill-icon-wrapper {
  margin-top: 250px;
  align-content: center;
}

.skill-icon-div {
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
}

.skill-icon {
  color: black;
}

.can-scroll {
  height: 600px;
  overflow: auto;
}

.portfolio_item_card {
  margin: 0px;

}

.no-padding {
  padding: 0px;
}

.bottom-pad {
  padding-bottom: 100px;
}

.contact-text {

}

.contact-text span {
  font-size: 2em;
  color: var(--color-background-light);
}

.contact-btn-wrapper {
  align-content: left;
  text-align: left;
}

.contact-btn {
  background-color: var(--color-background-light);
  border-color: var(--color-background-light);
}

.contact-btn:hover {
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
  border-color: var(--color-background-light);
}


/*======img======*/

.about-info-img {
  height: 300px;
}

/*======For testing====*/

.show-me1 {
  border: 1px dashed green;
  background-color: yellow;
}

.show-me2 {
  border: 1px dashed blue;
  background-color: red;
}

.show-me3 {
  border: 1px dashed purple;
  background-color: black;
}

/*======Brackets======*/

.fexible-bracket {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mid-bracket {
  height: 100vh;
  min-height: 900px;
  width: 100%;
  overflow: hidden;
}

#about-bracket {
/*  background-color: var(--color-background-dark);*/
}

#portfolio-bracket {
/*  background-color: var(--color-background-light);*/
}

#contact-bracket {

}

/*======Main Nav======*/

.app-nav-shell {

}

.app-nav-item {
  width: 15%;
  /*margin: auto;*/
  display: inline-block;
  text-align: center;
}

.app-nav-item a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.app-nav-spacer {
  width: 1px;
  height: 60px;
  background-color: var(--color-background-light);
/*  margin: auto;*/
  display: inline-block;
  vertical-align: middle;
}

.app-nav-stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.app-nav-shell {
  text-align: justify;
  width: 100%;
}

/*==========Animation==========*/
canvas {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-dark);
  z-index: -1;
  font-size: 0.5em;
}
/*==========Animation==========*/




/*.btn-overflow {
  overflow: visible;
}

.top_bracket {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.top_bracket_spacer {
  margin-top: 100vh;
}

.extra_stuff {
  height: 2000px;
  width: 100%;
  background-color: white;
}


#section02 {
  background-color: white;
}

#section03 {
  background-color: white;
}

.right-slice-solid {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--color-light);
  transform: skewX(-25deg) translateX(65%);
  z-index: -1;
}

.right-slice-trans {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--color-light);
  transform: skewX(-20deg) translateX(60%);
  z-index: -1;
  opacity: 0.5;
}

.bottom-slice-solid {
  position: fixed;
  top: 90vh;
  left: 0px;
  background-color: var(--color-light);
  height: 400px;
  width: 100%;
  transform: skewY(10deg);
}

.my-nav-link {
  color: var(--color-darkest);
}



.front-title-div {
  font-size: 4em;
  font-family: 'Amaranth', sans-serif;
/*  color: var(--color-dark);*/
/*  transform: translateX(150px);*//*
}

.front-title-div a {
  font-size: 3em;
  margin: 0px;
  padding: 0px;
/*  color: var(--color-lightest);
}*/

/*Slide in divs=====================*//*

@keyframes slideFromRight {
  0% {
    transform: skewX(-25deg) translateX(2000px);
  }
  100% {
    transform: skewX(-25deg) translateX(300px);
  }
}

@keyframes slideFromRightContent {
  0% {
    transform: skewX(25deg) translateX(2000px);
  }
  100% {
    transform: skewX(25deg) translateX(-150px);
  }
}

#slide-in-div-right {
  height: 80%;
  min-height: 400px;
  width: 80%;
  transform: skewX(-25deg) translateX(300px);
  border-radius: 50px;
  background-color: var(--color-light);
  float: right;
  position: relative;
  margin-top: 5%;
  animation: slideFromRight 500ms ease 1s 1 normal both;
  overflow: hidden;
}

#slide-in-div-right-content {
  height: 100%;
  width: 100%;
  transform: skewX(25deg) translateX(300px);
  animation: slideFromRightContent 500ms ease 1.5s 1 normal both;
  background-image: url('https://picsum.photos/600/800/?random');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/

